body{
  text-align:center;
  font-family:Arial;
  background:#f5f5f5;
}

.board{
  border:2px solid black;
  background:white;
  cursor:crosshair;
}

button{
  margin-top:15px;
  padding:10px 20px;
}
